{% extends "base.jinja" %}
{% block content %}
    <h1>404</h1>
    <p>Whatever you were looking for couldn't be found.<br>Obviously, this is a bit odd, since the site only has a single page.</p>
{% endblock %}
