<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Submit a Spammer{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% assets "bootstrap" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        {% assets "static_nav" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        {% assets "bootstrap_responsive" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        <!--[if lt IE 9]>
        {% assets "html5shim" %}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ url_for('index') }}">Submit a Spammer</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="https://github.com/drcongo/spammy-recruiters">About</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
