<fieldset>
<h4>Add a recruiter's address to our shared database</h4>
<div>
    {{ form.csrf_token }}
    {{ form.address(placeholder="@spammyrecruiter.co.uk", autofocus="autofocus", pattern="^@[\w\-.]*\.[a-z]{2,4}$",required="required") }}
    <span class="help-block">(Your entry must begin with an "@")</span>
    {{ form.submit(class="btn", value="Tell us") }}
</div>
</fieldset>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
        {% for category, message in messages %}
            <h4 class="{{ category }}">{{ message }}</h4>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}
{% if form.errors %}
<legend>
    There was a problem
</legend>
        <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }} <small>{{ error }}</small></li>
            {% endfor %}
        {% endfor %}
        </ul>
{% endif %}
