{% extends "base.jinja" %}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h4>Placeholder Header</h4>
        {{ lipsum(n=2) }}
        <h6>We know about <a href="https://github.com/drcongo/spammy-recruiters/blob/master/spammers.txt">{{ count }}</a> spammy UK tech recruitment companies.</h6>
        <a class="label" href="{{ url_for('download') }}">Download spammers.txt</a>
    </div>
    <div class="span6" id="FormHolder">
        <form id="SpammerForm" method="POST" action="{{ url_for('index') }}">
            {% include "form.jinja" %}
        </form>
    </div>
</div>
{% endblock %}
