<fieldset>
    <ol>
        <li>
            <h4>Enter a recruiter's address</h4>
            <div class="control-group">
                <div class="controls">
                    {{ form.csrf_token }}
                    <div class="input-prepend">
                        <span class="add-on">@</span>
                        {{ form.address(placeholder="spammyrecruiter.co.uk", id="address", autofocus="autofocus", pattern="^[\w\-.]*\.[a-z]{2,4}$", required="required")}}
                    </div>
                </div>
            </div>
        </li>
        <li>
            <h4>Prove that you're human</h4>
            <div class="control-group">
                <div class="controls">
                    <div id="recaptcha_parent">
                        <div id="recaptcha">
                            {{ form.recaptcha }}
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <h4>Push the button</h4>
            <div class="control-group">
                <div class="controls">
                    {{ form.submit(class="btn", id="spam_submit", value="Add spammer") }}
                </div>
            </div>
        </li>
    </ol>
</fieldset>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="thanks" class="information">
            <fieldset>
                <legend>Thanks!</legend>
                {% for category, message in messages %}
                    <h4 class="{{ category }}">{{ message }}</h4>
                {% endfor %}
            </fieldset>
        </div>
    {% endif %}
{% endwith %}
{% if form.errors %}
    <div id="errors" class="information">
        <fieldset>
            <legend>There was a problem</legend>
            <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }} <small class="text-error">{{ error }}</small></li>
                {% endfor %}
            {% endfor %}
            </ul>
            <span class="help-block">Please try doing it right, then re-submitting the address.</span>
        </fieldset>
    </div>
{% endif %}
