{% extends "base.jinja" %}
{% block content %}
<div class="row-fluid">
    <div class="span6 bodycopy">
        <section>
            <h4>What we're doing</h4>
            <p>
            Do you hate it when recruitment agencies send you unsolicited email? We do; it wastes time, attention, and causes unnecessary stress and violent urges.</p>
            <p>Luckily, there's a way around that if you're using Gmail: filters. Simply add the addresses of spammy recruitment agencies, and you'll never see their email again.</p>
            <p>Filters are even better when people collaboratively add addresses to them, because a lot of small contributions can make life easier for everyone. If you've been receiving unwanted email from a recruitment agency, follow the steps, and we'll add them to the list. Don't worry about adding someone we already know about – we'll check immediately, and tell you. We review all submissions, so it might take us a few hours to add a new address.
            </p>
            <p>We've written some brief instructions on how to get started if you aren't using filters yet. You can read them <a href="https://github.com/drcongo/spammy-recruiters#protip">here</a>.</p>
            <p><strong>We know about <span id="count" class="text-error">{{ count }}</span> spammy UK tech recruitment companies.</strong></p>
            <p><small id="last-updated"></small></p>
            <noscript>
                <p class="alert alert-error">Some stats (such as how fresh our spammer file is) can't be displayed, either because you've turned off JavaScript in your browser, or it doesn't support it.</p>
            </noscript>
            <p><a class="label" href="{{ url_for('.download') }}">Download spammers.txt</a> <small class="muted">(we'll check for updates first)</small></p>
            <p>If you'd prefer to send us a pull request, <a id="ghlink" href="https://github.com/drcongo/spammy-recruiters">we're on GitHub</a></p>
        </section>
    </div>
    <div class="span6" id="FormHolder">
        <section>
            <h4>Add a spammer to the shared database</h4>
            <form id="SpammerForm" method="POST" action="{{ url_for('.index') }}">
                {% include "form.jinja" %}
            </form>
        </section>
    </div>
</div>
{% endblock %}
