Fabric==1.4.3
Flask==0.9
Flask-Assets==0.7
Flask-SQLAlchemy==0.16
Flask-Testing==0.4
Flask-WTF==0.8
Jinja2==2.6
Mako==0.7.2
MarkupSafe==0.15
SQLAlchemy==0.7.9
WTForms==1.0.2
Werkzeug==0.15.3
alembic==0.4.0
psycopg2==2.4.5
pycrypto==2.6
ssh==1.7.14
webassets==0.9.dev
wsgiref==0.1.2
yolk==0.4.3
PyYAML==3.10
yuicompressor==2.4.7
GitPython==0.3.2.RC1
requests==1.0.2
