pip
Fabric==1.4.3
Flask==0.9
Flask-Assets
Flask-SQLAlchemy
Flask-Testing==0.4
Flask-WTF
MarkupSafe==0.15
SQLAlchemy
WTForms
alembic
psycopg2==2.4.5
pycrypto==2.6
ssh==1.7.14
wsgiref==0.1.2
yolk==0.4.3
PyYAML==3.10
yuicompressor==2.4.7
GitPython==0.3.2.RC1
Requests
humanize
ipython
